<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> <%= user.profile.name %> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TOOL TIP POP UP FOR FRIENDS NAMES -->

        <link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" />
        <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
        <link href='/stylesheets/bootstrap.min.css' rel='stylesheet' />
        <link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- START OF HTML FOR PAGE -->
        <div id="wrapper">

			<!-- Links to Home -->
			<div id="LHS_banner">
                <img src="/images/website_Header.png" alt="logo" />
                <div id="RHS_nav"> 
                    <div id="top"></div>
                    <div id="bottom">
                        <ul>
                            <li><a href="./logout">Logout</a></li>
                            <li><a href="./settings">Settings</a></li>
                            <li><a href="./group">Groups</a></li>
                            <li><a href="./profile">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div> 

		    <div id="contentWrapper">
		    	
		        <div id="LHS_UserInformation">
		        	
		            <!-- Should be rounded -->
		            <div class="profilePic_wrapper">
                        <% if (user.profile.picture) { %>
                            <img src= "<%= user.profile.picture %>" alt="ProfilePicture" />
                        <% } else { %>
                            <img src= "/images/profPic.png" alt="ProfilePicture" />
                        <% } %>
                    </div>
					
		            <div class="userInformation_wrapper">
		            	<div> <%= user.profile.name %>
		                	<div> <%= user.email %>
		                      </div>    
		                </div> 
		            </div>
		            
                    <div class="update_wrapper">
                        <a class="btn btn-default" href="./calendar">Update your calendar</a>
                    </div>     
		            
                    <div class="userFriends_wrapper">
		            	<div> Friends </div>

                        <!-- new one using a table -->

                        <div style="height:150px;">
                            <% if (user.friends.length === 0) { %>
                            No friends to show! <br /><br /> Click "Add a New Friend" to get started.
                            <%} else {%> 

<!--                                 <ul>
                                <% for (var i=0; i<user.friends.length; i++) {%>
                                    <li> <%= user.friends[i].name %> </li>
                                <% } %>
                                </ul> -->

                                <table>
                                    <tr>
                                        <% for (var i=0; i<user.friends.length; i++) {%>
                                        <td><div class="otherProfilePic_wrapper">
                                        <img src="<%=user.friends[i].picture %>" data-toggle="tooltip" data-placement="top" title="<%=user.friends[i].name%>"/>
                                        </div></td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                    </tr>
                                </table>
                            <% } %>
                        </div>

                    <div class="update_wrapper">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#friendEventModal_1"> Add a New Friend! </button>
                        </div>   
		            </div>

		            <div class="userGroups_wrapper">
		            	<div> Groups </div>
		                <div style="height:150px;"> 
                            <table>
                                <tr>
                                    <td><div class="otherProfilePic_wrapper">
                                        <img src="/images/profPic.png" data-toggle="tooltip" data-placement="top" title="Team Undefined"/>
                                        </div></td>
                                    <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                    <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                    <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                </tr>
                            </table>  
                        </div>
		            </div>

		        </div> <!-- End of the LHS -->
		        
		        <div id="RHS_CalendarInformation">
        	
                    <div id="requestsEventsSchedule_wrapper">
            	
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <strong> <%= user.request.length %> Pending Requests</strong><br />
                                        <div id="pendingRequests">
                                        <!-- FUNCTION FOR A FRIEND REQUEST -->
                                        <% for (var i=0; i<user.request.length; i++) {  %>
                                            <% if (user.request[i].type === 'friend_request') { %>
                                                <strong> <%=user.request[i].data.name %> </strong> <span class="pendingRequests_TTM">wants to be your friend</span>
                                                <a href= <%='./request/friend/add/' + i %> > Confirm </a> 
                                                <a href= <%='./request/friend/reject/' + i %> > Reject </a> 
                                                <br /> 
                                        <!-- FUNCTION FOR A MEETING REQUEST -->
                                            <% } else if (user.request[i].type === 'meeting_request') {%>
                                                <strong> <%=user.request[i].data.name %> </strong> <span class="pendingRequests_TTM">wants to schedule a time to meet</span><br />
                                            <% } %>
                                        <% } %>
                                        </div>
                                    </div>     
                                </td>

                                <td><div><strong>0 Upcoming Events:</strong><br />
                                    <div id="upcomingEvents">
                                    <i> You have no upcoming events </i>
                                    </div>
                                </div>
                                </td>

                                <td align="center">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#scheduleEventModal_1"> Schedule an Event </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id='calendar'></div>
                </div> <!-- End of the RHS -->
		    </div><!-- End of CONTENT WRAPPER -->
	    </div><!--End of wrapper-->


        <!--                               -->
        <!-- MODAL FOR SCHEDULING AN EVENT -->
        <!--                               -->
        <div class="modal fade" id="scheduleEventModal_1" tabindex="-1" role="dialog" aria-labelledby="scheduleEventModal_1_Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- APPLIED SPAN STYLE FOR CENTERING -->
                    <span style="text-align:center;">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Schedule an Event</h4>
                    </div>
                    <div class="modal-body">
                        <div id="new_request_input" >
                            <p> Please enter the <strong>email</strong> of your friend:</p>
                            <input class="typeahead tt-query" id="find-friend-input" placeholder="Type your friend email and press Enter to find" type="text" size="20"/>
                        </div>
                        <div id="output"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-default" href="./request">Next</a>
                    </div>
                    </span>

                </div>
            </div>
        </div>

        <!--                          -->
        <!-- MODAL FOR ADD NEW FRIEND -->
        <!--                          -->
        <div class="modal fade" id="friendEventModal_1" tabindex="-1" role="dialog" aria-labelledby="friendEventModal_1_Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- APPLIED SPAN STYLE FOR CENTERING -->
                    <span style="text-align:center;">
                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add a New Friend</h4>
                    </div>
                    <div class="modal-body">


                        <div id="new_friend_input" >
                            <p> Please enter the <strong>email</strong> of the friend you intend to add:</p>
                            <input class="typeahead tt-query" id="find-new-friend-input" placeholder="Email" type="text" size="20"/>
                        </div>
                        
                        <span style="text-align:left;">
                        <div id="friend-output"></div></span>
                    </div>
                    </span>
                    <!-- end of span -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" id="add_friend">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <script src='/javascripts/jquery-1.11.0.min.js'></script>
        <script src='/javascripts/moment.min.js'></script>
        <script src='/javascripts/jquery-ui.custom.min.js'></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src='/javascripts/fullcalendar.min.js'></script>   
        <script src='/javascripts/typeahead.jquery.min.js'></script>
        <script src='/javascripts/jquery.noty.packaged.min.js'></script>
        <script src='/javascripts/profile.js'></script>

        <script type ='text/javascript'>
        function hide_FriendConfirmed(){
            /* hide the friend confirmation div */
        }
        </script>
    </body>
</html>

