<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> OOverlap - <%= user.profile.name %> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/settings.css" rel="stylesheet" type="text/css" />
        <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
        <link href='/stylesheets/bootstrap.min.css' rel='stylesheet' />
        <link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
        <!-- Icon Credit:
        <div>Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
    </head>
    
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- START OF HTML FOR PAGE -->
        <div id="wrapper">

			<!-- Links to Home -->
			<div id="LHS_banner">
                <a href="./profile"><img src="/images/website_Header.png" alt="logo" /></a>
                <div id="RHS_nav"> 
                    <div id="top"></div>
                    <div id="bottom">
                        <ul>
                            <li><a href="./logout">Logout</a></li>
                            <li><a href="./group">Groups</a></li>
                            <li><a href="./profile">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div> 

		    <div id="contentWrapper">
		    	
		        <div id="LHS_UserInformation">
		        	
                    <div id="settingsGear"> <a href="javascript:toggleDiv('RHS_SettingsForm', 'RHS_CalendarInformation');"> <img src="/images/settings_Gear.png"> </a> </div>

		            <div class="profilePic_wrapper">
                        <% if (user.profile.picture) { %>
                            <img src= "<%= user.profile.picture %>" alt="ProfilePicture" />
                        <% } else { %>
                            <img src= "/images/profPic.png" alt="ProfilePicture" />
                        <% } %>
                    </div>
					
		            <div class="userInformation_wrapper">
		            	<div> <%= user.profile.name %>
		                	<div> <%= user.email %>
		                      </div>    
		                </div> 
		            </div>
		            
                    <div class="update_wrapper">
                        <a class="btn btn-primary" href="./calendar">Update your calendar</a>
                    </div>     
		            
                    <div class="userFriends_wrapper">
		            	<div> Friends </div>

                        <!-- new one using a table -->

                        <div style="height:150px;">
                            <% if (user.friends.length === 0) { %>
                            No friends to show! <br /><br /> Click "Add a New Friend" to get started.
                            <%} else {%> 
                                <table>
                                    <tr>
                                        <% for (var i=0; i<user.friends.length; i++) {%>
                                            <td>
                                                <div class="friend_profile otherProfilePic_wrapper" id="<%=i%>" >
                                                    <span data-placement="top" data-toggle="tooltip" title="<%=user.friends[i].name%>">
                                                        <a href="#" role="button" data-toggle="modal">
                                                            <img src="<%=user.friends[i].picture %>"/>
                                                        </a>
                                                    </span>
                                                </div> 
                                            </td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                        <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                    </tr>
                                </table>
                            <% } %>
                        </div>

                    <div class="update_wrapper">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#friendingEventModal"> Add a New Friend! </button>
                        </div>   
		            </div>

		            <div class="userGroups_wrapper">
		            	<div> Groups </div>
		                <div style="height:150px;"> 
                            <table>
                                <tr>
                                    <td><div class="otherProfilePic_wrapper">
                                        <img src="/images/profPic.png" data-toggle="tooltip" data-placement="top" title="Team Undefined"/>
                                        </div></td>
                                    <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                    <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                    <td><div class="otherProfilePic_wrapper"><img src="/images/profPic.png" /></div></td>
                                </tr>
                            </table>  
                        </div>
		            </div>

		        </div> <!-- End of the LHS -->

		        <!--                                                -->
                <!-- THIS IS THE BEGINNING OF THE SETTINGS PAGE DIV -->
                <!--  This div toggles with the main info for the   -->
                <!--   profile page... it's pretty cool             -->
                <div id="RHS_SettingsForm">

                    <div> 
                        <div class="settingsHeader"> Privacy Settings: </div>
                        <form name="privacySettings">
                            <table class="settingsTable">
                            <tr>
                                <td align="right">Profile Picture: </td>
                                <td align="left"> 
                                    <select name="profilePicPrivacy">
                                      <option value="public">Public</option>
                                      <option value="private">Private</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="right">Email Address: </td>
                                <td align="left"> 
                                    <select name="emailPrivacy">
                                      <option value="public">Public</option>
                                      <option value="private">Private</option>
                                    </select>
                                </td>
                            </tr>
                            </table>
                        </form>

                        <br />

                        <div class="settingsHeader"> Profile Picture: </div> 
                        <table  class="settingsTable">
                            <tr>
                                <td> Upload File: </td>
                                <td> <input type="file" name="newProfilePicture_file" value=""> </td>
                            </tr>
                            <tr>
                                <td> or insert URL: </td>
                                <td> <input type="text" name="newProfilePicture_text" value=<%=user.profile.picture%> size="30"> </td>
                            </tr>
                        </table>
                        <br />
                        <div class="settingsHeader"> Profile Information: </div> 
                        <table  class="settingsTable">
                            <tr>
                                <td>Displayed Name: </td>
                                <td> 
                                    <form name="displayedName">
                                        <input type="text" name="displayedName_input" value="<%= user.profile.name %>">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td> Email Address: </td>
                                <td>
                                    <form name="email">
                                        <input type="text" name="email_input" value="<%= user.email %>">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td> Password: </td>
                                <td>
                                    <form>
                                        <input type="password" name="password_input" value="************"> </br>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td> New Password: </td>
                                <td>
                                    <form>
                                        <input type="password" name="new_password" value="" </br>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td> Confirm New Password: </td>
                                <td>
                                    <form>
                                        <input type="password" name="new_password_cf" value="" </br>
                                    </form>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="settingsHeader"> Delete Account: 
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>
                        </div>
                        <br />
                        <br />
                        <button type="submit" class="btn btn-primary" id="submit_changes">Submit Changes</button>
                    </div>
                </div>
                <!-- THIS IN THE END OF THE SETTINGS DIV... THE DIV WITH THE CALENDAR AND UPDATES AND STUFF IS BELOW -->

		        <div id="RHS_CalendarInformation">
                    <div id="requestsEventsSchedule_wrapper">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <strong> <%= user.request.length %> Pending Requests</strong><br />
                                        <div id="pendingRequests">
                                        <!-- FUNCTION FOR A FRIEND REQUEST -->
                                        <% if (user.request.length === 0) { %>
                                            <i> You have no upcoming requests </i>
                                        <% } %>
                                        <% for (var i=0; i<user.request.length; i++) {  %>
                                            <% if (user.request[i].type === 'friend_request') { %>
                                                <strong> <%=user.request[i].data.name %> </strong> <span class="pendingRequests_TTM">wants to be your friend</span>
                                                <a href= <%='/friend/add/' + i %> > Confirm </a> 
                                                <a href= <%='/friend/reject/' + i %> > Reject </a> 
                                                <br /> 
                                        <!-- FUNCTION FOR A MEETING REQUEST -->
                                            <% } else if (user.request[i].type === 'meeting_request') {%>
                                                <strong> <%=user.request[i].from %> </strong> <span class="pendingRequests_TTM">wants to schedule a time to meet for</span> <strong> <%= user.request[i].meeting.title %></strong>
                                                <a href= <%='/request/view/' + i %> > View </a> 
                                                <br />
                                            <% } %>
                                        <% } %>
                                        </div>
                                    </div>     
                                </td>

                                <td><div><strong> <%= user.events.length %> Upcoming Events</strong><br />
                                    <div id="upcomingEvents">
                                    <% if (user.events.length == 0) { %>
                                        <i> You have no upcoming events </i>
                                    <% } %>
                                    <% for (var i=0; i<user.events.length; i++) {  %>
                                        <% if (user.events[i].status === 'successful') { %>
                                            <strong> <%=user.events[i].meeting.title%></strong> <span class='pendingEvents_TTM'>with </span><strong> <%=user.events[i].meeting.from %> </strong> <span class='pendingEvents_TTM'>on</span> <strong><%=user.events[i].meeting.start_format%></strong> 
                                            <a href= <%='/events/add/' + i %> > Confirm </a> 
                                            <a href= <%='/events/reject/' + i %> > Reject </a> 
                                            <br /> 
                                        <% } else if (user.events[i].status === 'fail') {%>
                                            <span class='pendingEvents_TTM'>We cannot schedule </span> <strong> <%=user.events[i].meeting.title%></strong> <span class='pendingEvents_TTM'>with</span> <strong> <%=user.events[i].meeting.from %> </strong> <span class='pendingEvents_TTM'>because there is no enough overlap time.</span>
                                            <a href= <%='/events/add/' + i %> > Confirm </a> 
                                            <br /> 
                                        <% } %>
                                    <% } %>
                                    </div>
                                </div>
                                </td>

                                <td align="center">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scheduleEventModal_1"> Schedule an Event </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id='calendar'></div>
                </div> <!-- End of the RHS -->

		    </div><!-- End of CONTENT WRAPPER -->
	    </div><!--End of wrapper-->


        <!--                               -->
        <!-- MODAL FOR SCHEDULING AN EVENT -->
        <!--                               -->
        <div class="modal fade" id="scheduleEventModal_1" tabindex="-1" role="dialog" aria-labelledby="scheduleEventModal_1_Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- APPLIED SPAN STYLE FOR CENTERING -->
                    <span style="text-align:center;">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Schedule an Event</h4>
                    </div>
                    <div class="modal-body">
                        <div id="new_request_input" >
                            <p><strong>Name Your Meeting or Event:</strong><br />
                                <input id="request_title" placeholder="My Succesful Meeting" type="text" size="25" style="width:300px;text-align:center;" /> 
                            </p> <br />
                            <p> <strong>How long will your meeting or event be?</strong><br />
                                <input id="request_hours" type="number" size="2" value='1' style="width:45px;text-align:center;"/> hour(s) 
                                & 
                                <input id="request_minutes" type="number" size="2" value='30' style="width:45px;text-align:center;"/> minute(s)

                            </p> <br />
                            <p><strong>Who are you scheduling your meeting or event with?</strong><br />
                                <input class="typeahead tt-query" id="find-friend-input" placeholder="Enter a friend's email to find them..." type="text" size="20"/> 
                            </p>
                        </div>
                        <div id="request-output"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-loading-text="Finding..." autocomplete="off" id="submit_request">Send</button>
                    </div>
                    </span>

                </div>
            </div>
        </div>

        <!--                          -->
        <!-- MODAL FOR ADD NEW FRIEND -->
        <!--                          -->
        <div class="modal fade" id="friendingEventModal" tabindex="-1" role="dialog" aria-labelledby="friendingEventModal_Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- APPLIED SPAN STYLE FOR CENTERING -->
                    <span style="text-align:center;">
                        <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add a New Friend</h4>
                        </div>
                        <div class="modal-body">

                            <div id="new_friend_input" >
                                <p> Please enter the <strong>email</strong> of the friend you intend to add:</p>
                                <input class="typeahead tt-query" id="find-new-friend-input" placeholder="Email" type="text" size="20"/>
                            </div>
                        </div>
                    </span>
                    <!-- end of span -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-loading-text="Finding..." autocomplete="off" id="add_friend" >Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!--                                    -->
        <!-- MODAL FOR DISPLAYING USER PROFILES -->
        <!--                                    -->
        <div class="modal fade" id="otherUserProfilesModal" tabindex="-1" role="dialog" aria-labelledby="otherUserProfilesModal_Label" aria-hidden="true">
            <div class="modal-dialog" style="width:300px;">
                <div class="modal-content">

                <!-- APPLIED SPAN STYLE FOR CENTERING -->
                    <span style="text-align:center;">
                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"> Friend Info </h4>
                    </div>
                    <div class="modal-body" style="width:300px;">

                        <div class="profilePic_wrapper" id="profile_picture"> 
                            <img src= "/images/profPic.png" alt="ProfilePicture" />
                        </div>
                        
                        <div class="userInformation_wrapper">
                            <div id="profile_name"> Firstname Lastname </div>
                            <div id="profile_email"> name@gmail.com </div>
                        </div>
                    
                        <!-- UnFriend Button -->
                        <button type="button" class="btn btn-primary" id="unfriend"> Unfriend </button>
                    </div>
                    </span>
                    <!-- end of span -->
                </div>
            </div>
        </div>

                <!--                            -->
        <!-- MODAL FOR DELETING ACCOUNT -->
        <!--                            -->
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal_Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- APPLIED SPAN STYLE FOR CENTERING -->
                    <span style="text-align:center;">
                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"> <strong>Delete Account</strong> </h4>
                    </div>
                    <div class="modal-body">

                        We're sorry to see you go!
                        <br />
                        <br />

                        <form id="deleteAccount">
                            <table  class="settingsTable" align="center">
                                <tr>
                                    <td>Please Enter your Password:</td>
                                    <td> <input type="password" name="deleteAccount_password" value=""> </td>
                                </tr>

                                <tr>
                                    <td>Confirm your Password: </td>
                                    <td> <input type="password" name="deleteAccount_password_cf" value=""> <br /> </td>
                                </tr>
                            </table>
                        
                        <br />
                        Why are you leaving OOverlap? We would love your input!
                        <textarea class="contactInsertInfo" cols="50" rows="8" name="comments" value=""></textarea>

                        <br />
                        <br />
                        <!-- Submit Button: deleting account -->
                        <button type="submit" class="btn btn-primary" id="deleteAccount"> Delete Account </button>

                        </form>
                    </div>
                    </span>
                    <!-- end of span -->
                </div>
            </div>
        </div>


        <script src='/javascripts/jquery-1.11.0.min.js'></script>
        <script src='/javascripts/moment.min.js'></script>
        <script src='/javascripts/jquery-ui.custom.min.js'></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src='/javascripts/fullcalendar.min.js'></script>   
        <script src='/javascripts/typeahead.jquery.min.js'></script>
        <script src='/javascripts/jquery.noty.packaged.min.js'></script>
        <script src='/javascripts/profile.js'></script>
        
    </body>
</html>

