<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" />
        <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
        <link href='/stylesheets/bootstrap.min.css' rel='stylesheet' />
        <link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- START OF HTML FOR PAGE -->
        <div id="wrapper">

            <!-- Links to Home -->
            <div id="LHS_banner">
                <img src="/images/website_Header.png" alt="logo" />
                <div id="RHS_nav"> 
                    <div id="top"></div>
                    <div id="bottom">
                        <ul>
                            <li><a href="/user/logout">Logout</a></li>
                            <li><a href="/user/settings">Settings</a></li>
                            <li><a href="/user/group">Groups</a></li>
                            <li><a href="/user/profile">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div> 

            <div id="contentWrapper">
                
                <div id="LHS_UserInformation">
                    
                    <!-- Should be rounded -->
                    <div class="profilePic_wrapper">
                        <% if (user.profile.picture) { %>
                            <img src= "<%= user.profile.picture %>" alt="ProfilePicture" />
                        <% } else { %>
                            <img src= "/images/profPic.png" alt="ProfilePicture" />
                        <% } %>
                    </div>
                    
                    <div class="userInformation_wrapper">
                        <div> <%= user.profile.name %>
                            <div id="from_email"><%= user.email %></div>    
                        </div> 
                    </div>

                    <div id="external-events" class="draggable_wrapper">
                        <h4><%= user.profile.name %> Free Times</h4>
                        <div class='fc-event priority-1'>Priority 1</div>
                        <div class='fc-event priority-2'>Priority 2</div>
                        <div class='fc-event priority-3'>Priority 3</div>
                        <div class='fc-event priority-4'>Priority 4</div>
                        <div class='fc-event priority-5'>Priority 5</div>
                    </div>    

                    <div class="profilePic_wrapper">
                        <% if (friend.picture) { %>
                            <img src= "<%= friend.picture %>" alt="ProfilePicture" />
                        <% } else { %>
                            <img src= "/images/profPic.png" alt="ProfilePicture" />
                        <% } %>
                    </div>
                    <div class="userInformation_wrapper">
                        <div> <%= friend.name %>
                            <div id="to_email"><%= friend.email %></div>    
                        </div> 
                    </div> 

                    <div class="update_wrapper">
                        <button type="button" class="btn btn-default" id="submit_request">Submit Your Request</button>
                    </div>     
                    
                </div> <!-- End of the LHS -->
                <div id="RHS_CalendarInformation">
                    <div id='Request_Title'>
                        Schdule for Meeting: <%= request.title %>
                    </div>
                    <div id='Request_Duration'>
                        Duration: <div id="hours"><%= request.hours %></div> Hours <div id="minutes"><%= request.minutes %></div> Minutes
                    </div>
                    <div id='calendar'></div>
                </div> <!-- End of the RHS -->
            </div><!-- End of CONTENT WRAPPER -->
        </div><!--End of wrapper-->



        <script src='/javascripts/jquery-1.11.0.min.js'></script>
        <script src='/javascripts/moment.min.js'></script>
        <script src='/javascripts/jquery-ui.custom.min.js'></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src='/javascripts/fullcalendar.min.js'></script>   
        <script src='/javascripts/request.js'></script>
    </body>
</html>

